/*importacion de archivo*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0 0 0 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins"; }

p, li, a {
  font-family: "Poppins"; }

footer {
  *margin-left: 720px;
  *position: absolute;
  background-color: #483d8b;
  text-align: center;
  margin-bottom: 0; }

/*cuerpo*/
.cuerpo {
  border-color: #bdb76b;
  border-style: solid;
  border-width: 5px;
  background-color: #ff8c00;
  *margin-left: 140px;
  *width: 1000px;
  height: auto;
  padding-left: 50px;
  *box-sizing: 100px;
  flex-direction: column;
  border-radius: 20px; }

.titulo {
  display: center;
  border-style: solid;
  border-width: 5px;
  background-color: #2c3e50;
  margin-right: 50px;
  font-size: 40px;
  margin-bottom: 10px;
  *margin-left: 325px;
  border-radius: 20px;
  *padding: 0px 0px 0px 300px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #daa520; }

.mas_sobre_nosotros {
  text-align: center;
  background-color: #000000;
  font-family: sans-serif;
  margin-top: 50px;
  color: #40e0d0;
  font-size: 40px;
  margin-right: 60px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px 10px 10px 10px; }

.front {
  display: block;
  text-align: center;
  width: 300px;
  margin: 30px 0 0 295px;
  background-color: #2c3e50;
  border-color: #bdb76b;
  border-style: solid;
  border-width: 5px;
  border-radius: 150px; }

.parrafo {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #40e0d0;
  padding: 0 10px 0 10px;
  margin-right: 45px;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif; }

.mas_sobre_boton {
  display: block;
  background-color: #7fffd4;
  border-radius: 10px;
  margin: 20px 0 20px 0; }

.mas_sobre_boton_link {
  text-decoration: none;
  color: #0000ff;
  font-size: 20px; }

.mas_sobre_boton_link:hover {
  border-radius: 10px;
  color: #ffff00; }

.portada {
  width: 300px; }

nav {
  background: #a2c4c9;
  height: 80px;
  width: 100%; }

label.logo {
  color: #ffffff;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold; }

.logo .ilogo {
  width: 80px;
  background-color: #2c3e50;
  border-color: #bdb76b;
  border-style: solid;
  border-width: 5px;
  border-radius: 40px; }

nav ul {
  float: right;
  margin-right: 20px; }

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px; }

nav ul li a {
  color: #ffffff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none; }

a.active {
  background: #89d9e6;
  transition: .5s; }

a:hover {
  background: #89d9e6;
  transition: .5s; }

.checkbtn {
  font-size: 30px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

body {
  *background-color: #7fffd4;
  background-color: #a2c4c9;
  *margin-top: 10px;
  min-height: 100vh; }

.front {
  display: block;
  text-align: center;
  width: 300px;
  margin: 30px 0 0 425px;
  background-color: #2c3e50;
  border-color: #bdb76b;
  border-style: solid;
  border-width: 5px;
  border-radius: 150px; }

.mas_sobre_nosotros {
  text-align: center;
  background-color: #000000;
  font-family: sans-serif;
  margin-top: 50px;
  color: #40e0d0;
  font-size: 40px;
  margin-right: 60px;
  margin-bottom: 10px;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #daa520;
  padding: 10px 10px 10px 10px; }

/*boostrap --------documentos*/
.cards {
  *display: flex;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 40px;
  *padding-left: 5px;
  *justify-content: space-between;
  text-align: center; }
  .cards .card {
    display: flex;
    flex-direction: column;
    *width: 300px;
    *min-width: 0;
    margin: 20px 5px 10px 0px;
    background-color: #2c3e50;
    border-radius: 30px; }
    .cards .card .card-img-top {
      width: 288px;
      height: 150px;
      border-radius: 20px; }
    .cards .card .card-body {
      background-color: #2c3e50;
      border-radius: 20px;
      font-family: sans-serif;
      padding-top: 10px;
      padding-bottom: 10px;
      /*.btn{
                text-align: center;
            }
            */ }
      .cards .card .card-body .card-title {
        color: #ffe4c4;
        font-size: 22px; }
      .cards .card .card-body .card-text {
        color: #f0ffff;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px; }
      .cards .card .card-body .btn-primary {
        text-align: center;
        color: #191971;
        list-style: none;
        text-decoration: none;
        background-color: #5f9ea0;
        *margin: 10px 0 10px 85px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 100px;
        font-family: sans-serif; }

/*media*/
.media {
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: #daa520;
  background-color: #2c3e50;
  margin-left: -50px; }

.media-1 {
  width: 550px;
  height: 315px;
  *margin: 20px 0 10px -50px;
  margin-top: 20px; }

/*servicios*/
.servicios {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 40px; }

.servicio {
  display: block;
  width: 28rem;
  *justify-content: space-between;
  border: 2px;
  border-color: #f0ffff;
  border-style: solid;
  border-radius: 10px;
  background-color: #808080;
  margin: 20px 20px 20px 20px;
  height: 490px;
  text-align: center; }

.fotoserv {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  margin-top: 30px; }

.tile {
  background-color: #2c3e50;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff8c00; }

a:hover {
  *color: #0000ff;
  *cursor: pointer; }

.boton_contactar {
  background-color: #adff2f;
  color: #bdb76b;
  font-size: 20px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10px;
  font-family: sans-serif;
  border-radius: 5px;
  text-decoration: none; }

/*-------servicios_con-------------*/
/*--------------------*/
.servicios_con {
  display: grid;
  grid-template-columns: auto;
  *margin-left: 115px;
  text-align: center; }

.servicio_con {
  display: block;
  border: 2px;
  border-color: #f0ffff;
  border-style: solid;
  border-radius: 10px;
  background-color: #808080;
  margin: 2px 40px 10px -10px;
  height: 480px;
  text-align: center; }

.conti_glob {
  display: grid;
  grid-template-columns: auto;
  *width: 80px;
  *background-color: transparent; }

button {
  background-color: transparent;
  border-width: 0; }

.boton_contactar {
  background-color: #adff2f;
  color: #bdb76b;
  font-size: 20px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10px;
  font-family: sans-serif;
  border-radius: 5px;
  text-decoration: none; }

.fotoserv {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  margin-top: 30px; }

.serim {
  width: 800px;
  height: 350px;
  border-radius: 10px;
  margin-top: 30px; }

.tile {
  background-color: #2c3e50;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff8c00; }

.tile:hover {
  *color: #0000ff;
  *cursor: pointer; }

/*boostrap --------documentos*/
.cards {
  *display: flex;
  display: grid;
  grid-template-columns: auto auto auto;
  *margin-top: 20px;
  *padding-left: 5px;
  *justify-content: space-between;
  text-align: center; }

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin: 20px 5px 10px -10px;
  background-color: #2c3e50;
  border-radius: 30px; }

.card-img-top {
  width: 288px;
  height: 150px;
  border-radius: 20px; }

.card-body {
  background-color: #2c3e50;
  border-radius: 20px;
  font-family: sans-serif;
  padding-top: 10px;
  padding-bottom: 10px; }

.card-title {
  color: #ffe4c4;
  font-size: 22px; }

.card-text {
  color: #f0ffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px; }

/*Formulario*/
.form_container {
  background-color: #2c3e50;
  margin: 60px 0px 80px 0px;
  border-radius: 20px;
  width: 96%;
  border-style: solid;
  border-width: 5px;
  border-color: #daa520; }
  .form_container .form_input {
    margin-top: 20px;
    *padding: 10px 0 0 0;
    border-radius: 5px;
    font-size: 20px;
    *width: 800px;
    height: 50px; }
  .form_container .form_input--message {
    height: 100px; }
  .form_container .form_cta {
    background-color: #7fff00;
    border-radius: 5px 5px 20px 20px;
    cursor: pointer;
    font-size: 40px;
    margin-top: 10px; }

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px; }
  nav ul li a {
    font-size: 16px; } }

@media (max-width: 952px) {
  .ilogo {
    width: 30px; }
  .checkbtn {
    display: block; }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    *z-index: 100vw; }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav ul li a {
    font-size: 20px; }
  a:hover {
    background: none;
    color: #89d9e6; }
  a.active {
    background: none;
    color: #89d9e6; }
  #check:checked ~ ul {
    left: 0; }
  /*cuerpo*/
  .cuerpo {
    border-color: #bdb76b;
    border-style: solid;
    border-width: 5px;
    background-color: #ff8c00;
    *margin-left: 140px;
    *margin: 0px 0 20px 0;
    width: 100%;
    height: auto;
    *padding-left: 50px;
    *box-sizing: 100px;
    *flex-direction: column;
    border-radius: 20px; }
  .titulo {
    border-style: solid;
    border-width: 5px;
    background-color: #2c3e50;
    margin-right: 45px;
    font-size: 30px;
    margin-bottom: 10px;
    *margin-left: 325px;
    border-radius: 20px;
    *padding: 0px 0px 0px 300px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #daa520; }
  .mas_sobre_nosotros {
    text-align: center;
    background-color: #000000;
    margin-top: 50px;
    color: #40e0d0;
    font-size: 20px;
    margin-right: 45px;
    margin-bottom: 80px;
    border-radius: 10px;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; }
  .front {
    display: block;
    text-align: center;
    width: 300px;
    margin: 30px 0 0 -6px; }
  .parrafo {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: -20px;
    color: #40e0d0;
    *text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    width: 100%;
    padding: 0 10px 0 20px; }
  .mas_sobre_boton {
    display: block;
    background-color: #7fffd4;
    border-radius: 10px;
    margin: 20px 0 20px 0; }
  .mas_sobre_boton_link {
    text-decoration: none;
    color: #0000ff;
    font-size: 20px; }
  .mas_sobre_boton_link:hover {
    border-radius: 10px;
    color: #ffff00; }
  .portada {
    width: 300px; }
  /*media*/
  .media {
    text-align: center;
    margin: 0 0 10px -50px; }
  .media-1 {
    width: 300px;
    height: 175px;
    *margin: 20px 0 20px 0;
    margin-top: 20px; }
  /*problema con el video propio se sobrepone al menu*/
  .media-2 {
    visibility: hidden;
    width: 300px;
    height: 175px;
    margin: 40px 0 20px 0; }
  /*servicios*/
  .servicios {
    display: inline-block;
    margin: 0 0 0 -30px;
    width: 100%; }
  .servicio {
    display: block;
    border: 2px;
    border-color: #f0ffff;
    border-style: solid;
    border-radius: 10px;
    background-color: #808080;
    margin: 50px 40px 10px 4px;
    width: 100%;
    height: 500px; }
  /*--------------------*/
  .servicios_con {
    display: block;
    margin-left: -20px;
    margin-right: 30px;
    text-align: center; }
  .servicio_con {
    display: block;
    border: 2px;
    border-color: #f0ffff;
    border-style: solid;
    border-radius: 10px;
    background-color: #808080;
    margin: 60px 50px 80px 4px;
    height: 480px;
    text-align: center; }
  .boton_contactar {
    background-color: #adff2f;
    color: #bdb76b;
    font-size: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 10px;
    font-family: sans-serif;
    border-radius: 5px; }
  .conti_glob {
    display: grid;
    grid-template-columns: auto;
    *width: 80px;
    *background-color: transparent; }
  button {
    background-color: transparent;
    border-width: 0; }
  .boton_contactar_con {
    background-color: #adff2f;
    color: #bdb76b;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 10px;
    font-family: sans-serif;
    border-radius: 5px; }
  .fotoserv {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px; }
  .serim {
    width: 300px; }
  .tile {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff8c00; }
  .tile:hover {
    *color: blue;
    *cursor: pointer; }
  /*Formulario*/
  .form_container {
    background-color: #2c3e50;
    margin: 40px 0 60px -25px;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #daa520; }
  .form_input {
    margin-top: 30px;
    *padding: 10px 0 0 0;
    border-radius: 5px;
    width: 225px;
    font-size: 30px; }
  .form_input--message {
    height: 100px; }
  .form_cta {
    background-color: #7fff00;
    border-radius: 5px 5px 20px 20px;
    cursor: pointer;
    font-size: 40px;
    margin-top: 30px; }
  /*boostrap --------documentos*/
  .cards {
    display: block;
    *margin-top: 10px;
    *padding-left: 5px;
    *justify-content: space-between;
    margin: 0 0 0 0px;
    text-align: center; }
  .card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin: 20px 0px 20px 0px;
    background-color: #2c3e50;
    border-radius: 10px;
    width: 100%; }
  .card-img-top {
    *width: 288px;
    *height: 150px;
    border-radius: 10px; }
  .card-body {
    background-color: #2c3e50;
    border-radius: 10px;
    font-family: sans-serif;
    *padding-top: 10px;
    *padding-bottom: 10px; }
  .card-title {
    color: #ffe4c4;
    font-size: 22px; }
  .card-text {
    color: #f0ffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; }
  .btn-primary {
    text-align: center;
    color: #191970;
    list-style: none;
    text-decoration: none;
    background-color: #5f9ea0;
    *margin: 10px 0 10px 85px;
    border-radius: 5px;
    font-size: 18px;
    font-family: sans-serif; }
  footer {
    *margin-left: 720px;
    *position: absolute;
    background-color: #483d8b;
    text-align: center;
    margin-bottom: 0; } }

@media only screen and (max-width: 600px) {
  .cuerpo {
    grid-template-columns: auto; } }

/*@import "./pages/about-us.scss";*/
