
$uno-color: #000000;
$dos-color: #ffffff;
$tres-color: #a2c4c9;
$cuatro-color: #7fffd4;
$cinco-color: #adff2f;
$seis-color: #2c3e50;
$siete-color: #bdb76b;
$ocho-color: #89d9e6;
$nueve-color: #483d8b;
$diez-color: #ff8c00;
$once-color: #daa520;
$doce-color: #40e0d0;
$trece-color: #0000ff;
$catorce-color: #ffff00;
$quince-color: #7fff00;
$dieciseis-color: #ffe4c4;//bisque
$diecisiete-color: #f0ffff;//azure
$dieciocho-color: #191971;
$diecinueve-color: #5f9ea0;
$veinte-color: #808080;//grey